* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Rockwell; }

body {
  font-size: 14pt; }
  body header {
    width: 70%;
    height: 200px;
    display: block;
    padding: 20px; }
    body header h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 45px; }
    body header p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 25px; }
  body section {
    background-color: black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    height: 200px; }
    body section form {
      display: grid;
      height: 100%;
      width: 100%;
      gap: 2%;
      justify-content: center;
      align-items: center;
      padding: 20px;
      grid-template-columns: 0.5fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b c" "d e f"; }
      body section form label {
        color: white; }
      body section form #userInputTitle {
        grid-area: b;
        height: 50px; }
      body section form #userInputContent {
        grid-area: e;
        height: 50px; }
      body section form #submitInput {
        grid-area: f;
        height: 50px;
        width: 80px; }
      body section form .select {
        grid-area: c; }
        body section form .select select {
          height: 50px;
          width: 80px; }
  body footer .todo-list {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px; }
    body footer .todo-list .todo-Container {
      background: #fefefe;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      padding: 15px;
      display: flex;
      height: 100px;
      justify-content: flex-start;
      gap: 20px; }
      body footer .todo-list .todo-Container .todo-Title {
        font-size: 1.4rem;
        width: 50px; }
      body footer .todo-list .todo-Container .todo-Content {
        align-self: center;
        width: 50%; }
      body footer .todo-list .todo-Container .todo-Complete {
        border: none;
        background-color: #232323;
        width: 100px;
        height: 50px;
        margin: 10px;
        color: white; }
      body footer .todo-list .todo-Container .todo-Remove {
        border: none;
        background-color: #232323;
        width: 100px;
        height: 50px;
        margin: 10px;
        color: white; }
    body footer .todo-list .completed {
      text-decoration: line-through;
      opacity: 0.5; }
