@import "mixins";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 14pt;
}

.header {
	width: 100vw;
	height: 200px;
}

.todo-wrapper {
	height: 300px;
	width: 100vw;
	background-color: rgb(160, 105, 38);
	display: flex;
	flex-direction: column;
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20%;
		width: 100%;
		background-color: cadetblue;
		.userInput {
			width: 70%;
		}
	}
}
